@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Sequel;
  src: url(../Sequel.ttf); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Archivo", sans-serif;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sequel, sans-serif;
  font-style: normal;
  border: none;
  text-transform: uppercase; }

/*
h1 {
}

h2 {
}

h1,
h2 {
  font-size: 30px;
  font-weight: 900;
}

h3,
h4 {
  font-size: 25px;
  font-weight: 700;
}

p,
span,
div,
label {
  font-family: circe, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  font-weight: 100;
}

a {
  font-family: circe, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: $darker-light;
}
*/
/* --- CSS Default settings --- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

.list--unmarked li {
  list-style: none; }

.list--unmarked a {
  color: white;
  text-decoration: none;
  cursor: pointer; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px; }

/*input,
textarea {
  border: 1px solid $light;
  background-color: transparent;
  color: $light;
  padding: 12px;
}

input[type="submit"] {
  background-color: $light;
  color: $dark;
  font-weight: 700;
}
*/
/* --- Text style --- */
/*
.footer-links h3 {
  color: $light;
  font-weight: 200;
}

.footer-links li {
  list-style: none;
  margin: 10px 0;
}

.footer-links a {
  text-decoration: none;
  color: $darker-light;
  font-weight: 100;
}

.footer-links li {
  color: $darker-light;
  font-weight: 400;
}

.footer-links a:hover {
  cursor: pointer;
  color: $light;
}

.copy p {
  color: $light;
}

.copy p:nth-child(2) {
  color: $darker-light;
}

.copy a {
  color: $light;
}

.copy span {
  color: $darker-light;
}

.link-underline {
  width: 90px;
  position: relative;
}

.link-underline:hover,
.link-underline:focus {
  border-bottom: 2px solid $light;
}

.link-underline::after {
  content: "";
  position: absolute;
  top: 33%;
  right: 0;
  border: 1px solid $light;
  border-width: 0 4px 4px 0;
  border-radius: 0px 2px;
  width: 4px;
  height: 4px;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}*/
.footer {
  background-color: black;
  color: white;
  padding: 64px 0; }
  .footer .newsletter {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footer .newsletter__heading {
      font-style: normal;
      font-weight: 60;
      font-size: 24px;
      line-height: 108.5%; }
      .footer .newsletter__heading--border {
        color: none;
        font-family: Sequel, sans-serif;
        font-style: normal;
        border: none;
        text-transform: uppercase; }
    .footer .newsletter__form {
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer .newsletter__form input {
        border: 1px solid #4d4d4d;
        background-color: transparent; }
      .footer .newsletter__form input {
        color: #0F1116;
        padding: 12px;
        margin-top: 20px; }
      .footer .newsletter__form input[type="submit"] {
        cursor: pointer; }
      .footer .newsletter__form input[type="submit"]:hover {
        background-color: #f4f4f4; }
  .footer .links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 96px; }
    .footer .links__header {
      font-style: normal;
      font-weight: 60;
      font-size: 17px;
      line-height: 16px;
      margin-bottom: 24px; }
    .footer .links__list li:not(:last-child) {
      margin-bottom: 16px; }
    .footer .links__list a {
      font-family: Archivo;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 16px;
      color: #a5a5a5; }
  .footer .links-end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .footer .links-end p {
      font-family: Archivo;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #a5a5a5; }
    .footer .links-end__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .footer .links-end__list li:not(:last-child) {
        margin-right: 24px; }
      .footer .links-end__list a {
        font-family: Archivo;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #a5a5a5; }

/*@import "components";
@import "nav.scss";
@import "main.scss";
@import "about.scss";
@import "music.scss";
@import "tour.scss";
@import "contact.scss";
@import "error.scss";
@import "impressum.scss";*/
