@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Sequel;
  src: url(../Sequel.ttf); }

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Archivo", sans-serif;
  font-style: normal; }

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sequel, sans-serif;
  font-style: normal;
  border: none;
  text-transform: uppercase; }

h1 {
  font-family: Sequel, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 56px; }

h2 {
  font-family: Sequel, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 56px; }

h3 {
  font-family: Sequel, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 34px;
  line-height: 40px; }

h4 {
  font-family: Sequel, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px; }

h5 {
  font-family: Sequel, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 16px; }

.exl-h {
  font-family: Sequel, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 144px;
  line-height: 64px; }
  .exl-h--bg {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f0f0f0; }

.l-h {
  font-family: Sequel, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 64px; }

/* PARAGRAPHS */
.ps {
  font-family: Archivo;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px; }
  .ps--thin {
    font-weight: 300; }
  .ps--regular {
    font-weight: normal; }
  .ps--bold {
    font-weight: 600; }

.pm {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px; }
  .pm--thin {
    font-weight: 300; }
  .pm--regular {
    font-weight: normal; }
  .pm--bold {
    font-weight: 600; }

.pl {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px; }
  .pl--thin {
    font-weight: 300; }
  .pl--regular {
    font-weight: normal; }
  .pl--bold {
    font-weight: 600; }

input,
textarea {
  font-family: "Archivo", sans-serif; }

/* --- CSS Default settings --- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

.list--unmarked li {
  list-style: none; }

.list--unmarked a {
  color: white;
  text-decoration: none;
  cursor: pointer; }

.container {
  margin: 0 auto;
  padding: 0px 24px; }
  .container--snarrow {
    max-width: 1080px; }
  .container--narrow {
    max-width: 1104px; }
  .container--wide {
    max-width: 1264px; }

.border--black {
  font-family: Sequel, sans-serif;
  color: white;
  -webkit-text-fill-color: black;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white; }

.border--white {
  font-family: Sequel, sans-serif;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

.footer {
  background-color: black;
  color: white;
  padding: 64px 0; }
  .footer .container {
    padding: 0 40px; }
  .footer .newsletter {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .footer .newsletter__heading {
      font-style: normal;
      font-weight: 60;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase; }
      .footer .newsletter__heading--border {
        font-family: Sequel, sans-serif;
        color: white;
        -webkit-text-fill-color: black;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white; }
    .footer .newsletter__form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .footer .newsletter__form input {
        border: 1px solid #4d4d4d;
        background-color: transparent; }
      .footer .newsletter__form input {
        color: white;
        padding: 12px;
        margin-top: 20px; }
        .footer .newsletter__form input::placeholder {
          font-family: Archivo;
          font-style: normal;
          color: #4d4d4d;
          font-weight: regular;
          font-size: 12px;
          line-height: 12px; }
      .footer .newsletter__form .newsletter__email {
        max-width: 400px;
        width: 100%;
        flex: 0.8; }
      .footer .newsletter__form input[type="submit"] {
        font-family: Archivo;
        font-style: normal;
        padding: 13.5px;
        flex: 0.2;
        max-width: 128px;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px; }
      .footer .newsletter__form input[type="submit"]:hover {
        background-color: #f4f4f4;
        color: black; }
  .footer .links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 88px; }
    .footer .links__left {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1.8; }
      .footer .links__left .links__block {
        margin-right: 15px; }
    .footer .links__right {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 2; }
      .footer .links__right .links__header {
        margin-bottom: 16px; }
    .footer .links__block {
      margin-top: 32px; }
    .footer .links__social {
      display: flex;
      flex-wrap: wrap; }
      .footer .links__social a {
        margin-top: 8px; }
      .footer .links__social a:not(:last-child) {
        margin-right: 16px; }
    .footer .links__header {
      font-style: normal;
      font-weight: 60;
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 24px; }
    .footer .links__list li:not(:last-child) {
      margin-bottom: 16px; }
    .footer .links__list a {
      font-family: Archivo;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 16px;
      color: #a5a5a5; }
      .footer .links__list a:hover {
        color: #fff; }
  .footer .links-end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .footer .links-end p {
      font-family: Archivo;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #a5a5a5;
      margin-top: 8px; }
    .footer .links-end__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 8px; }
      .footer .links-end__list li:not(:last-child) {
        margin-right: 24px; }
      .footer .links-end__list a {
        font-family: Archivo;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #a5a5a5; }
        .footer .links-end__list a:hover {
          color: white; }

@media screen and (max-width: 500px) {
  .footer {
    padding: 24px 0; }
    .footer .container {
      padding: 24px; }
    .footer .links {
      margin-bottom: 56px; }
      .footer .links__block li:not(:last-child) {
        margin-bottom: 8px; }
      .footer .links__block a {
        line-height: 24px; }
      .footer .links__social a {
        margin-top: 8px; }
      .footer .links__header {
        font-style: normal;
        font-weight: 60;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 16px; } }

.header {
  background-color: #0a0a0a;
  padding: 160px 0 240px; }
  .header__images {
    position: relative;
    overflow: hidden; }
    .header__images .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%; }
    .header__images .header__image {
      width: 50%;
      height: 540px;
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%); }
    .header__images .header__image-wb {
      margin-top: 40px;
      background-image: url("../img/WB.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .header__images .header__image-bb {
      background-image: url("../img/BB.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .header__images .header__titles {
      overflow: hidden;
      position: absolute;
      top: 35%;
      color: white; }
      .header__images .header__titles--row {
        white-space: nowrap;
        word-break: keep-all;
        width: 100vw;
        left: 0;
        position: relative;
        animation: marquee 15s linear infinite; }
        .header__images .header__titles--row .title--outlined {
          color: white;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 0.5px;
          -webkit-text-stroke-color: white; }

.story {
  background-color: #0a0a0a;
  color: white; }
  .story .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .story .container ul {
      list-style: none; }
      .story .container ul li {
        font-family: Sequel, sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 34px;
        line-height: 48px;
        text-transform: uppercase; }
  .story .story__block {
    max-width: 480px;
    margin-bottom: 104px; }
    .story .story__block p:not(:last-child) {
      margin-bottom: 24px; }

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0); }
  100% {
    transform: translate3d(-100%, 0, 0); } }

.btn-dark {
  border: 3px solid #0F1116;
  background-color: transparent;
  color: #0F1116;
  font-weight: 900;
  padding: 10px 80px; }
  .btn-dark:hover, .btn-dark:focus {
    color: #FEFEFE;
    background-color: #0F1116;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }

.btn-light {
  border: 3px solid #FEFEFE;
  box-sizing: border-box;
  background-color: transparent;
  color: #FEFEFE;
  font-weight: 900;
  padding: 10px 80px; }
  .btn-light:hover, .btn-light:focus {
    color: #0F1116;
    background-color: #FEFEFE;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }

/* --- Nav Menu Style --- */
.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  overflow-y: auto; }
  .menu > * {
    margin: 40px 30px 20px;
    cursor: pointer;
    pointer-events: auto; }
  .menu .menu-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin: 15px 30px; }
    .menu .menu-btn > * {
      color: #fff;
      mix-blend-mode: difference; }
    .menu .menu-btn .menu-text {
      font-size: 15px;
      font-family: Sequel, sans-serif !important;
      font-weight: 100;
      margin: 0 7px 3px 0; }
    .menu .menu-btn #hamburger {
      width: 28px;
      height: 25px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer; }
      .menu .menu-btn #hamburger span {
        display: block;
        position: absolute;
        height: 6.3px;
        width: 100%;
        background: #FEFEFE;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out; }
        .menu .menu-btn #hamburger span:nth-child(1) {
          top: 0px; }
        .menu .menu-btn #hamburger span:nth-child(2), .menu .menu-btn #hamburger span:nth-child(3) {
          top: 8px; }
        .menu .menu-btn #hamburger span:nth-child(4) {
          top: 16px; }
    .menu .menu-btn #hamburger.open span:nth-child(1) {
      top: 8px;
      width: 0%;
      left: 50%; }
    .menu .menu-btn #hamburger.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu .menu-btn #hamburger.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .menu .menu-btn #hamburger.open span:nth-child(4) {
      top: 8px;
      width: 0%;
      left: 50%; }

.hidden-header {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 40vw;
  visibility: hidden;
  background-color: #0F1116;
  right: 0;
  box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.25); }

.sidenav {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sidenav ul {
    width: 35vw; }
  .sidenav li {
    list-style: none;
    padding: 20px 0 20px 15px;
    border-bottom: 1px solid #9A9A9A; }
    .sidenav li a {
      color: #FEFEFE;
      text-decoration: none;
      font-weight: 600; }

/*.sidenav ul > li:nth-child(1) {
    background-color: $light);
}*/
/*.sidenav li:nth-child(1) a {
    color: $dark);
}*/
.sidenav li:hover {
  cursor: pointer;
  background-color: rgba(15, 17, 22, 0.8); }

.header-social-icons {
  display: flex;
  justify-content: center;
  color: #FEFEFE; }

.header-social-icons a {
  margin: 0 10px 40px; }

.header-social-icons a,
i {
  color: #9A9A9A;
  isolation: isolate; }

.header-social-icons a,
i:hover {
  cursor: pointer;
  color: #FEFEFE; }

/*--- Media Queries ---*/
@media all and (max-width: 1024px) {
  .menu {
    width: 100%;
    margin: 0 auto; }
  .menu > * {
    margin: 30px 20px; }
  .menu .menu-btn {
    margin: 30px 20px 40px; }
  .hidden-header {
    width: 100vw;
    box-shadow: none; }
  .sidenav ul {
    width: 80vw; } }

.music {
  background-color: #0a0a0a; }
  .music__latest {
    padding: 200px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden; }
    .music__latest .music__bg__title {
      position: absolute;
      transform: rotate(90deg);
      right: -40%;
      bottom: 0%;
      overflow: hidden;
      width: fit-content;
      line-height: 120px;
      word-break: keep-all;
      z-index: 0; }
    .music__latest .latest__song {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap-reverse;
      padding: 0 48px; }
      .music__latest .latest__song .latest__cover {
        width: 350px;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%; }
      .music__latest .latest__song .latest__name {
        font-family: Sequel 100 Wide;
        font-style: normal;
        font-weight: 60;
        font-size: 48px;
        line-height: 56px;
        max-width: 480px;
        margin: 16px 0 8px; }
      .music__latest .latest__song .latest__info {
        display: flex;
        flex-direction: row; }
        .music__latest .latest__song .latest__info .latest__label {
          position: relative;
          margin-right: 48px; }
          .music__latest .latest__song .latest__info .latest__label::after {
            content: "";
            position: absolute;
            border: 1px solid #000;
            width: 24px;
            top: 40%;
            left: 106%; }
      .music__latest .latest__song .latest__btn {
        display: block;
        width: fit-content;
        text-decoration: none;
        color: #000;
        margin-top: 40px;
        padding: 16px 32px;
        border: 2px solid #000;
        font-size: 14px;
        font-weight: 600; }
  .music__releases {
    padding: 88px 0; }
    .music__releases .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column; }
    .music__releases .music__year {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
      flex: 1; }
      .music__releases .music__year:not(:last-child) {
        margin-bottom: 64px; }
      .music__releases .music__year .music__header {
        color: #fff;
        margin-bottom: 16px; }
      .music__releases .music__year .music__popular {
        width: 100%;
        margin-bottom: 40px; }
        .music__releases .music__year .music__popular .popular__video {
          height: 594px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; }
        .music__releases .music__year .music__popular .popular__header {
          color: white;
          margin: 8px 0; }
        .music__releases .music__year .music__popular .popular__artists {
          color: #a5a5a5; }
        .music__releases .music__year .music__popular .popular__layout {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 24px; }
          .music__releases .music__year .music__popular .popular__layout .popular__btn {
            width: fit-content;
            position: relative;
            text-decoration: none;
            color: #fff;
            padding: 16px 24px;
            border: 0.5px solid #a5a5a5;
            font-size: 12px; }
      .music__releases .music__year .song {
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 20px 0; }
        .music__releases .music__year .song__cover {
          min-width: 200px;
          min-height: 200px;
          width: 200px;
          height: 200px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .music__releases .music__year .song__information {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 16px 0 16px 16px; }
          .music__releases .music__year .song__information .song__btn {
            width: fit-content;
            position: relative;
            text-decoration: none;
            color: #fff; }
            .music__releases .music__year .song__information .song__btn::before {
              content: "";
              position: absolute;
              border: 1px solid #fff;
              width: 16px;
              top: 48%;
              right: 0%;
              margin-left: 8px; }
            .music__releases .music__year .song__information .song__btn::after {
              content: "";
              border: solid #fff;
              border-width: 0 2px 2px 0;
              display: inline-block;
              padding: 2px;
              margin-left: 24px;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg); }
          .music__releases .music__year .song__information .ps {
            line-height: 16px; }
        .music__releases .music__year .song__info {
          display: flex;
          flex-direction: row; }
          .music__releases .music__year .song__info .song__label,
          .music__releases .music__year .song__info .song__date {
            color: #a5a5a5; }
          .music__releases .music__year .song__info .song__label {
            position: relative;
            margin-right: 40px; }
            .music__releases .music__year .song__info .song__label::after {
              content: "";
              position: absolute;
              border: 1px solid #a5a5a5;
              width: 24px;
              top: 40%;
              left: 106%; }
        .music__releases .music__year .song__name {
          color: #fff;
          margin: 20px 0 8px;
          max-width: 280px; }
        .music__releases .music__year .song__author {
          max-width: 240px;
          color: #a5a5a5; }

@media screen and (max-width: 950px) {
  .music__latest {
    padding: 160px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden; }
    .music__latest .music__bg__title {
      position: absolute;
      transform: rotate(90deg);
      right: -40%;
      bottom: 0%;
      overflow: hidden;
      width: fit-content;
      line-height: 120px;
      word-break: keep-all;
      z-index: 0; }
    .music__latest .latest__song {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap-reverse;
      padding: 0 48px; }
      .music__latest .latest__song .latest__cover {
        width: 250px;
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%; }
      .music__latest .latest__song .latest__name {
        font-family: Sequel 100 Wide;
        font-style: normal;
        font-weight: 60;
        font-size: 48px;
        line-height: 56px;
        max-width: 440px;
        margin: 16px 0 8px; }
      .music__latest .latest__song .latest__info {
        display: flex;
        flex-direction: row; }
        .music__latest .latest__song .latest__info .latest__label {
          position: relative;
          margin-right: 48px; }
          .music__latest .latest__song .latest__info .latest__label::after {
            content: "";
            position: absolute;
            border: 1px solid #000;
            width: 24px;
            top: 40%;
            left: 106%; }
      .music__latest .latest__song .latest__btn {
        display: block;
        width: fit-content;
        text-decoration: none;
        color: #000;
        margin-top: 40px;
        padding: 16px 32px;
        border: 2px solid #000;
        font-size: 14px;
        font-weight: 600; } }

@media screen and (max-width: 850px) {
  .music__latest .latest__song {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0; }
    .music__latest .latest__song .latest__cover {
      width: 250px;
      height: 250px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
    .music__latest .latest__song .latest__name {
      font-family: Sequel 100 Wide;
      font-style: normal;
      font-weight: 60;
      font-size: 48px;
      line-height: 56px;
      max-width: 440px;
      margin: 16px 0 8px; }
    .music__latest .latest__song .latest__info {
      display: flex;
      flex-direction: row; }
      .music__latest .latest__song .latest__info .latest__label {
        position: relative;
        margin-right: 48px; }
        .music__latest .latest__song .latest__info .latest__label::after {
          content: "";
          position: absolute;
          border: 1px solid #000;
          width: 24px;
          top: 40%;
          left: 106%; }
    .music__latest .latest__song .latest__btn {
      display: block;
      width: fit-content;
      text-decoration: none;
      color: #000;
      margin-top: 40px;
      padding: 16px 32px;
      border: 2px solid #000;
      font-size: 14px;
      font-weight: 600; } }

@media screen and (max-width: 750px) {
  .music__latest .latest__song {
    flex-direction: column-reverse;
    align-items: flex-end; }
    .music__latest .latest__song .latest__cover {
      width: 100%;
      height: 80vw;
      margin-bottom: 32px;
      min-width: 200px;
      min-height: 200px; }
    .music__latest .latest__song .latest__name {
      font-family: Sequel 100 Wide;
      font-style: normal;
      font-weight: 200;
      font-size: 34px;
      line-height: 40px;
      max-width: 440px;
      margin: 16px 0 8px; }
    .music__latest .latest__song .latest__btn {
      display: block;
      width: fit-content;
      text-decoration: none;
      color: #000;
      margin-top: 40px;
      padding: 16px 32px;
      border: 2px solid #000;
      font-size: 14px;
      font-weight: 600; } }

@media screen and (max-width: 450px) {
  .music__latest {
    padding: 80px 0; }
    .music__latest .latest__song .latest__cover {
      width: 100%;
      height: 80vw;
      margin-bottom: 32px;
      min-width: 200px;
      min-height: 200px; }
    .music__latest .latest__song .latest__info .latest__label {
      position: relative;
      margin-right: 40px; }
    .music__latest .latest__song .latest__info > * {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px; }
    .music__latest .latest__song .latest__name {
      font-family: Sequel, sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 34px;
      line-height: 40px;
      max-width: 440px;
      margin: 8px 0 8px; }
    .music__latest .latest__song .latest__author {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px; }
    .music__latest .latest__song .latest__btn {
      display: block;
      width: fit-content;
      text-decoration: none;
      color: #000;
      margin-top: 40px;
      padding: 16px 32px;
      border: 2px solid #000;
      font-size: 14px;
      font-weight: 600; } }

@media screen and (max-width: 900px) {
  .music .music__year {
    flex-direction: column; } }

@media screen and (max-width: 550px) {
  .music__releases .music__year .music__popular .popular__layout {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .music__releases .music__year .music__popular .popular__layout .popular__btn {
      margin-top: 16px; } }

@media screen and (max-width: 500px) {
  .music .container {
    padding: 32px; }
  .music .music__year {
    flex-direction: column; }
    .music .music__year .song {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap; }
      .music .music__year .song__cover {
        position: relative;
        width: 100%;
        height: 80vw; }
      .music .music__year .song__information {
        padding: 16px 0; }
        .music .music__year .song__information .song__name {
          margin: 16px 0 8px; }
        .music .music__year .song__information .song__btn {
          margin-top: 32px;
          width: fit-content; } }

/* --- Tour Header ---*/
.intro {
  height: 50vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background/bg.png);
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FEFEFE; }
  .intro h1 {
    font-weight: 900;
    font-size: 30px;
    text-align: center; }

/*--- SongKick ---*/
.tour-info {
  min-height: 100vh;
  background-color: #FEFEFE; }

.songkick {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  min-height: 50vh;
  color: #0F1116; }

.songkick > * {
  min-width: 100%; }

/*--- Title text ---*/
/*.left-text {
    position: relative;
}

.left-text p {
    position: absolute;
}

.left-text p::before {
    content: "";
    border-bottom: 500px solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}*/
@media all and (max-width: 800px) {
  .songkick div {
    width: 92vw;
    max-width: 92vw; } }

.contact {
  background-color: #f8f8f8; }
  .contact .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 200px; }
  .contact .contact__left {
    flex: 1; }
  .contact .contact__right {
    flex: 1.5; }
    .contact .contact__right .contact__form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 70%; }
      .contact .contact__right .contact__form .contact__input {
        display: flex;
        flex-direction: column;
        margin-top: 24px; }
        .contact .contact__right .contact__form .contact__input .form__input {
          background-color: white;
          border: 1px solid #9a9a9a;
          padding: 16px 16px;
          font-size: 14px;
          min-width: 100px; }
          .contact .contact__right .contact__form .contact__input .form__input::placeholder {
            color: rgba(10, 10, 10, 0.18);
            font-size: 14px; }
        .contact .contact__right .contact__form .contact__input textarea.form__input {
          resize: vertical; }
        .contact .contact__right .contact__form .contact__input .form__label {
          margin-bottom: 8px; }
        .contact .contact__right .contact__form .contact__input .form__submit {
          padding: 18px 0;
          width: 100%;
          background-color: black;
          color: white; }
      .contact .contact__right .contact__form .input--half {
        width: 48%; }
      .contact .contact__right .contact__form .input--full {
        width: 100%; }

@media screen and (max-width: 800px) {
  .contact {
    background-color: #f8f8f8; }
    .contact .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 200px;
      padding-bottom: 200px; }
    .contact .contact__left {
      flex: 1; }
    .contact .contact__right {
      flex: 1.5; }
      .contact .contact__right .contact__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; }
        .contact .contact__right .contact__form textarea {
          padding: 12px 16px;
          font-family: 'Archivo';
          height: 80px; }
        .contact .contact__right .contact__form .input--half {
          width: 100%; }
        .contact .contact__right .contact__form .input--full {
          width: 100%; } }
