@font-face {
  font-family: Sequel;
  src: url(../Sequel.ttf); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: Sequel, sans-serif;
  font-style: normal;
  font-size: 100%; }

.link-underline:hover {
  text-decoration: underline; }

/* --- CSS Default settings --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px; }

h1, h2 {
  font-size: 30px;
  font-weight: 900; }

h3, h4 {
  font-size: 25px;
  font-weight: 700; }

p {
  font-size: 15px;
  font-weight: 400; }

a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #9A9A9A; }

input, textarea {
  border: 1px solid #FEFEFE;
  background-color: transparent;
  color: #FEFEFE;
  padding: 12px; }

input[type="submit"] {
  background-color: #FEFEFE;
  color: #0F1116;
  font-weight: 700; }

/* --- Text style --- */
.footer-links h3 {
  color: #FEFEFE;
  font-weight: 600; }

.footer-links li {
  list-style: none;
  margin: 10px 0; }

.footer-links a {
  text-decoration: none;
  color: #9A9A9A;
  font-weight: 400; }

.footer-links li {
  color: #9A9A9A;
  font-weight: 400; }

.footer-links a:hover {
  cursor: pointer;
  color: #FEFEFE; }

.copy p {
  color: #FEFEFE; }

.copy p:nth-child(2) {
  color: #9A9A9A; }

.copy a {
  color: #FEFEFE; }

.copy span {
  color: #9A9A9A; }

.link-underline {
  width: 90px;
  position: relative; }

.link-underline:hover, .link-underline:focus {
  border-bottom: 2px solid black; }

.link-underline::after {
  content: "";
  position: absolute;
  top: 19%;
  right: 0;
  border: 1px solid #000;
  border-width: 0 4px 4px 0;
  border-radius: 0px 2px;
  width: 4px;
  height: 4px;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg); }

/*--- Media Queries ---*/
@media all and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: center; }
  .hidden-header {
    width: 100vw;
    box-shadow: none; }
  .sidenav ul {
    width: 80vw; }
  .menu {
    justify-content: space-between;
    width: 90vw; }
  .menu > * {
    margin: 30px 0;
    cursor: pointer; }
  .newsletter form input {
    width: 40vw; }
  .newsletter form input[type="submit"] {
    width: 120px; } }

@media all and (max-width: 600px) {
  .newsletter {
    text-align: center; }
  .copy {
    padding: 50px 0 0; } }

/* --- Nav Menu Style --- */
.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  z-index: 20;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference; }

.menu > * {
  margin: 40px 30px;
  cursor: pointer;
  pointer-events: auto; }

.hidden-header {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 40vw;
  visibility: hidden;
  background-color: #0F1116;
  right: 0;
  box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.25); }

.sidenav {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.sidenav ul {
  width: 35vw; }

.sidenav li {
  list-style: none;
  padding: 20px 0 20px 15px;
  border-bottom: 1px solid #9A9A9A; }

/*.sidenav ul > li:nth-child(1) {
    background-color: $light);
}*/
.sidenav li a {
  color: #FEFEFE;
  text-decoration: none;
  font-weight: 600; }

/*.sidenav li:nth-child(1) a {
    color: $dark);
}*/
.sidenav .subnav li {
  border-bottom: none;
  width: 90%;
  padding: 10px 0 10px 15px; }

.sidenav .subnav {
  margin: 10px 0 0 10px; }

.sidenav .subnav .opened-subnav {
  visibility: visible;
  opacity: 1;
  margin: 10px 0 0 10px; }

.sidenav .subnav .closed-subnav li {
  visibility: hidden;
  opacity: 0;
  margin: 0 0; }

.sidenav li:hover {
  cursor: pointer;
  background-color: rgba(15, 17, 22, 0.8); }

.header-social-icons {
  display: flex;
  justify-content: center;
  color: #FEFEFE; }

.header-social-icons a {
  margin: 0 10px 40px; }

.header-social-icons a, i {
  color: #9A9A9A;
  isolation: isolate; }

.header-social-icons a, i:hover {
  cursor: pointer;
  color: #FEFEFE; }

/*

.icon-light path, rect {
    fill: $light;
    mix-blend-mode: isolate;
}

.icon-dark rect, path {
    fill: $light;
}*/
/*--- Footer Style ---*/
footer p, li, h3, span, a {
  font-size: 15px;
  font-weight: 400; }

footer {
  max-width: 100vw; }

.footer-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FEFEFE; }

.newsletter {
  background-image: url(../img/background/color-bg.jpg);
  background-size: cover;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  font-size: 30px; }
  .newsletter h2 {
    color: #959595;
    mix-blend-mode: difference;
    font-size: 30px; }
  .newsletter p {
    color: #959595;
    mix-blend-mode: difference;
    font-weight: 400;
    margin-top: 5px; }
  .newsletter form {
    display: flex;
    flex-direction: row; }
    .newsletter form input {
      border: 1px solid #FEFEFE;
      background-color: rgba(254, 254, 254, 0.33);
      color: #0F1116;
      padding: 12px;
      margin-top: 20px;
      width: 500px; }
    .newsletter form input[type="submit"] {
      background-color: #FEFEFE;
      color: #0F1116;
      font-weight: 700;
      padding: 10px 25px;
      width: 120px;
      cursor: pointer; }
    .newsletter form input[type="submit"]:hover {
      background-color: #F4F4F4; }

.lower-footer {
  min-width: 100%;
  background-color: #0F1116;
  padding: 60px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.lower-footer > * {
  width: 100%; }

.footer-links-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer-links-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%; }

.footer-item-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.footer-social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.footer-social-icons a {
  margin: 10px 10px 10px 0; }

.copy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 80px 0 0; }

/*text-rendering: optimizeLegibility;*/
.promotion {
  height: 100vh;
  background-image: url(../img/background/chapter-II.png);
  background-size: cover; }
  .promotion .container .text-center {
    color: #FFFFFF;
    text-transform: uppercase;
    mix-blend-mode: difference; }

.song-promotion {
  background-color: #0F1116;
  overflow: hidden; }

.community {
  background-color: #FFFFFF; }

.text-left {
  width: 300px; }

.new-releases {
  height: 60vh;
  background-color: #0F1116;
  display: flex;
  justify-content: center;
  align-items: center; }

.new-releases .card-text-top > * {
  color: #fff; }

/*--- Realeases Header ---*/
.releases-header {
  padding: 40px 0 20px;
  background-color: #FEFEFE; }

.releases-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0F1116; }

.releases-header h3 {
  font-weight: 700;
  font-size: 30px; }

.releases-header ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-start; }

.releases-header li {
  cursor: pointer;
  margin: 0 5px;
  font-size: 19px;
  font-weight: 300;
  color: #353535; }

.releases-header li:hover {
  font-weight: 500;
  color: #0F1116; }

.releases-header li:first-child {
  font-weight: 900;
  color: #0F1116; }

/*--- Card container ---*/
.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; }

.card-container .year {
  background-color: #FFFFFF;
  padding: 50px 0; }

.card-container .year:nth-child(2n) {
  background-color: #F4F4F4; }

.card-container .year .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

.card-container .year {
  background-color: #FEFEFE; }

.card-container .year:nth-child(2) {
  background-color: #F4F4F4; }

/*--- Card Design ---*/
.card {
  display: flex;
  width: 50%;
  margin: 20px 0; }

.card h3, a, p {
  color: #000000; }

.cover-img {
  min-width: 200px;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  background-size: 200px 200px;
  object-fit: cover;
  background-repeat: no-repeat; }

.card-text-top {
  padding-left: 5px;
  border-left: 3px solid #000000; }

.card-text-top .label {
  font-size: 13px;
  font-weight: 900;
  max-width: 70%; }

.card-text-top .song {
  max-width: 100%;
  margin: 8px 0 3px;
  font-size: 30px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase; }

.card-text-top .musicians {
  font-size: 13px;
  max-width: 80%; }

.card-text a {
  font-size: 13px;
  font-weight: 900; }

.card-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  flex: 2; }

@media all and (max-width: 1000px) {
  .container {
    padding: 0 40px;
    max-width: 100%; }
  .card {
    width: 100%; }
  .card-container .year .container {
    justify-content: center;
    flex-direction: column; }
  .card-text {
    padding: 30px 10px; } }

@media all and (max-width: 500px) {
  .container {
    padding: 0 10px; }
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .cover-img {
    width: 250px;
    height: 250px;
    background-size: 100% 100%; }
  .card-text-top {
    padding-left: 0;
    border-left: none; }
  .card-text {
    padding: 10px 10px 0;
    align-items: center; }
  .card-text-top .label {
    max-width: 100%; }
  .card-text-top .song {
    max-width: 100%; }
  .card-text-top .musicians {
    font-size: 13px;
    max-width: 100%; }
  .card-text .link-underline {
    margin-top: 10px;
    text-align: center; } }

/* --- Tour Header ---*/
.intro {
  height: 50vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/UB-party.png);
  background-position: center 15%;
  color: #FEFEFE; }

.intro h1 {
  font-weight: 900;
  font-size: 30px;
  text-align: center; }

/*--- SongKick ---*/
.tour-info {
  min-height: 100vh;
  background-color: #FEFEFE; }

.songkick {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  min-height: 50vh;
  color: #0F1116; }

.songkick > * {
  min-width: 80vw; }

/*--- Title text ---*/
/*.left-text {
    position: relative;
}

.left-text p {
    position: absolute;
}

.left-text p::before {
    content: "";
    border-bottom: 500px solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}*/
@media all and (max-width: 800px) {
  .songkick div {
    width: 92vw;
    max-width: 92vw; } }

/*--- Left inner container ---*/
.contact-left {
  flex: 0.35;
  color: #FEFEFE;
  /*background-image: url("../img/UB-contact-bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
  background-color: rgba(15, 17, 22, 0.96); }

/*--- Right inner container ---*/
.contact-right {
  display: grid;
  flex: 0.65;
  background-color: #0F1116;
  color: #FEFEFE; }

/*--- Contact form ---*/
.contact-right form {
  display: grid;
  grid-template-columns: 10vw 1fr;
  gap: 10px; }
  .contact-right form label {
    grid-column: 1 / 2; }
  .contact-right form input[type=submit] {
    width: inherit; }
  .contact-right form label {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px; }

/* --- Footer Mailing Color Design ---*/
.container-left {
  text-align: right;
  margin-right: 30px; }

.container-left h1 {
  font-weight: 900;
  font-size: 185px;
  margin-top: 10px; }

.container-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 550px; }

.container-right h2 {
  font-size: 40px; }

.container-right p {
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 10px; }

.container-right a {
  text-decoration: none;
  border: 4px solid #0F1116;
  width: 130px;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px; }

.container-right a:hover {
  background-color: #0F1116;
  color: #FEFEFE;
  transition: linear 0.2s; }

/*Make it 1024*/
@media all and (max-width: 900px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .container-left {
    display: flex;
    align-items: flex-end;
    margin-right: 0; }
  .container-left h1 {
    text-align: left;
    font-size: 140px;
    margin-bottom: -15px; }
  .container-right {
    max-width: 85vw; }
  .container-right h2 {
    font-size: 30px; }
  .container-right a {
    font-size: 15px; }
  .container-right p {
    margin: 5px 0 10px;
    font-size: 15px; } }

html, body {
  min-height: 100vh; }

/* --- Tour Header ---*/
/*--- SongKick ---*/
.impressum {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.impressum .text {
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

.impressum .text h1 {
  font-weight: 900;
  font-size: 30px; }

.impressum .text h2 {
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0; }

.impressum .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  justify-content: space-between; }

.impressum .container li {
  list-style: none;
  margin-top: 5px; }

/*--- Title text ---*/
/*.left-text {
    position: relative;
}

.left-text p {
    position: absolute;
}

.left-text p::before {
    content: "";
    border-bottom: 500px solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}*/
