/*--- Container ---*/


/*--- Left inner container ---*/
.contact-left {
    flex: 0.35;
    color: var(--light);
    /*background-image: url("../img/UB-contact-bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    background-color: var(--lighter-dark);
}

/*.contact-left p {
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 0;
}

.contact-left p::after {
    content: "";
}*/

/*--- Right inner container ---*/
.contact-right {
    display: grid;
    
    flex: 0.65;
    background-color: var(--dark);
    color: var(--light);
}

/*--- Contact form ---*/
.contact-right form {
    display: grid;
    grid-template-columns: 10vw 1fr;
    gap: 10px;
}

.contact-right form label {
    grid-column: 1 / 2;
}

.container-right form input[type=submit] {
    width: inherit;
}

.container-right form label {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
}

/* --- Footer Mailing Color Design ---*/
.newsletter {
    background-color: var(--light);
    color: var(--dark);
}

.newsletter p {
    color: var(--lighter-dark);
}

.newsletter form input {
    border: 1px solid var(--dark);
    color: var(--dark);
}

.newsletter form input[type="submit"] {
    background-color: var(--dark);
    color: var(--light);
}