/* --- CSS Default settings --- */
@import url('https://use.typekit.net/xtv0hhc.css');

:root {
    --dark: #0F1116;
    --lighter-dark: rgba(15, 17, 22, 0.96);
    --light-dark: rgba(15, 17, 22, 0.8);
    --light: #FEFEFE;
    --darker-light: #9A9A9A;
    --theme-color: #F1067D;
    --navbar-bg-color: #111111;
    --footer-bg-color: #111111;
    --faceless-red: #FF0028;
    --faceless-purple: #5D00FF;
    --faceless-lblue: #0DF5F7;
    --faceless-yellow: #FED700;
    --faceless-green: #00F081;
    --faceless-blue: #0700FE;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: p22-underground, sans-serif;
    font-style: normal;
}

h1,h2 {
    font-size: 30px;
    font-weight: 900;
}

h3,h4 {
    font-size: 25px;
    font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 400;
}

a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: var(--darker-light);
}

input,textarea {
    border: 1px solid var(--light);
    background-color: transparent;
    color: var(--light);
    padding: 12px;
}

input[type="submit"] {
    background-color: var(--light);
    color: var(--dark);
    font-weight: 700;
}



/* --- Nav Menu Style --- */
.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    z-index: 20;
    position: fixed;
}

.menu > * {
    margin: 40px 30px;
    cursor: pointer;
}

.menu svg path {
    mix-blend-mode: difference;
}

.hidden-header {
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 40vw;
    visibility: hidden;
    background-color: var(--dark);
    right: 0;
    box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidenav {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav ul {
    width: 35vw;
}

.sidenav li {
    list-style: none;
    padding: 20px 0 20px 15px;
    border-bottom: 1px solid var(--darker-light);
}

/*.sidenav ul > li:nth-child(1) {
    background-color: var(--light);
}*/

.sidenav li a {
    color: var(--light);
    text-decoration: none;
    font-weight: 600;
}

/*.sidenav li:nth-child(1) a {
    color: var(--dark);
}*/

.sidenav .subnav li {
    border-bottom: none;
    width: 90%;
    padding: 10px 0 10px 15px;
}

.sidenav .subnav {
    margin: 10px 0 0 10px;
}

.sidenav .subnav .opened-subnav {
    visibility: visible;
    opacity: 1;
    margin: 10px 0 0 10px;
}

.sidenav .subnav .closed-subnav li {
    visibility: hidden;
    opacity: 0;
    margin: 0 0; 
}



.sidenav li:hover {
    cursor: pointer;
    background-color: var(--light-dark);
}

.header-social-icons {
    display: flex;
    justify-content: center;
    color: var(--light);
}

.header-social-icons a {
    margin: 0 10px 40px;
}

.header-social-icons a,i {
    color: var(--darker-light);
    isolation: isolate;
}

.header-social-icons a,i:hover {
    cursor: pointer;
    color: var(--light);
}

/*

.icon-light path, rect {
    fill: var(--light);
    mix-blend-mode: isolate;
}

.icon-dark rect, path {
    fill: var(--light);
}*/



/*--- Footer Style ---*/
footer p,li,h3,span,a {
    font-size: 15px;
    font-weight: 400;
}

footer {
    max-width: 100vw;
}

.footer-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
}

.newsletter {
    background-color: var(--lighter-dark);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    font-size: 30px;
}

.newsletter h2 {
    font-size: 30px;
}

.newsletter p {
    color: var(--darker-light);
    font-weight: 400;
    margin-top: 5px;
}

.newsletter form {
    display: flex;
    flex-direction: row;
}


.newsletter form input {
    border: 1px solid var(--light);
    background-color: transparent;
    color: var(--light);
    padding: 12px;
    margin-top: 20px;
    width: 500px;
}

.newsletter form input[type="submit"] {
    background-color: var(--light);
    color: var(--dark);
    font-weight: 700;
    padding: 10px 25px;
    width: 120px;
}

.newsletter form input[type="submit"]:hover {
    cursor: pointer;
}

.lower-footer {
    min-width: 100%;
    background-color: var(--dark);
    padding: 60px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lower-footer > * {
    width: 90%;
    max-width: 1500px;
}

.footer-links-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.footer-item-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-social-icons a {
    margin: 10px 10px 10px 0;
}

.copy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0 0;
}

/* --- Text style --- */
.footer-links h3 {
    color: var(--light);
    font-weight: 600;
}

.footer-links li {
    list-style: none;
    margin: 10px 0;
}

.footer-links a {
    text-decoration: none;
    color: var(--darker-light);
    font-weight: 400;
}

.footer-links li {
    color: var(--darker-light);
    font-weight: 400;
}

.footer-links a:hover {
    cursor: pointer;
    color: var(--light);
}

.copy span {
    color: var(--darker-light);
}

.copy p:nth-child(2) {
    color: var(--darker-light);
}

.copy a {
    color: var(--light);
}



/*--- Media Queries ---*/
@media all and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: center;
    }
    
    .hidden-header {
        width: 100vw;
        box-shadow: none;
    }

    .sidenav ul {
        width: 80vw;
    }

    .menu {
        justify-content: space-between;
        width: 90vw;
    }

    .menu > * {
        margin: 30px 0;
        cursor: pointer;
    }

    .newsletter form input {
        width: 40vw;
    }
    
    .newsletter form input[type="submit"] {
        width: 120px;
    }
}

@media all and (max-width: 600px) {
    .newsletter {
        text-align: center;
    }

    .copy {
        padding: 50px 0 0;
    }
}

