.ub-story {
    background-color: #fefefe;
    padding: 100px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.text-left {
    width: 60%;
    p {
        margin: 10px 0;
    }
}

.photo-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    img {
        width: 200px;
        height: 200px;
    }
}

@media all and (max-width: 1000px) {
    .photo-right {
        display: none;
    }
}