.container-left {
    text-align: right;
    margin-right: 30px;
}

.container-left h1 {
    font-weight: 900;
    font-size: 185px;
    margin-top: 10px;
}

.container-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 550px;
}

.container-right h2 {
    font-size: 40px;
}

.container-right p {
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 10px;
}

.container-right a {
    text-decoration: none;
    border: 4px solid $dark;
    width: 130px;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
}

.container-right a:hover {
    background-color: $dark;
    color: $light;
    transition: linear 0.2s;
}

/*Make it 1024*/
@media all and (max-width: 900px) {
     .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }

     .container-left {
        display: flex;
        align-items: flex-end;
        margin-right: 0;
     }

     .container-left h1 {
        text-align: left;
        font-size: 140px;
        margin-bottom: -15px;
    }

    .container-right {
        max-width: 85vw;
    }

    .container-right h2 {
        font-size: 30px;
    }

    .container-right a {
        font-size: 15px;
    }

    .container-right p {
        margin: 5px 0 10px;
        font-size: 15px;
    }
}

