.footer {
  background-color: black;
  color: white;
  padding: 64px 0;
  .newsletter {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__heading {
      font-style: normal;
      font-weight: 60;
      font-size: 24px;
      line-height: 108.5%;
      &--border {
        //TODO - font border
        color: none;
        font-family: Sequel, sans-serif;
        font-style: normal;
        border: none;
        text-transform: uppercase;
      }
    }
    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        border: 1px solid #4d4d4d;
        background-color: transparent;
      }
      input {
        color: $dark;
        padding: 12px;
        margin-top: 20px;
        //width: 400px;
      }
      input[type="submit"] {
        //width: 128px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #f4f4f4;
      }
    }
  }
  .links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 96px;
    &__block {
    }
    &__header {
      font-style: normal;
      font-weight: 60;
      font-size: 17px;
      line-height: 16px;
      margin-bottom: 24px;
    }
    &__list {
      li:not(:last-child) {
        margin-bottom: 16px;
      }
      a {
        font-family: Archivo;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;
        color: #a5a5a5;
      }
    }
  }
  .links-end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      font-family: Archivo;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #a5a5a5;
    }
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li:not(:last-child) {
        margin-right: 24px;
      }
      a {
        font-family: Archivo;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #a5a5a5;
      }
    }
  }
}
