.header {
  background-color: #0a0a0a;
  &__images {
    position: relative;
    overflow: hidden;
    .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
    .header__image {
      width: 50%;
      height: 540px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    .header__image-wb {
      margin-top: 40px;
      background-image: url("../assets/images/WB.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .header__image-bb {
      background-image: url("../assets/images/BB.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .header__titles {
      overflow: hidden;
      position: absolute;
      top: 35%;
      color: white;
      &--row {
        white-space: nowrap;
        word-break: keep-all;
        width: 100vw;
        left: 0;
        position: relative;
        animation: marquee 15s linear infinite;
        .title--outlined {
          color: white;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 0.5px;
          -webkit-text-stroke-color: white;
        }
      }  
    }
  }
  padding: 160px 0 240px;
}

.story {
  background-color: #0a0a0a;
  color: white;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul {
      list-style: none;
      position: sticky;
      top: 0;
      li {
        font-family: Sequel, sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 34px;
        line-height: 48px;
        text-transform: uppercase;
      }
    }
  }
  .story {
    &__text {
    }
    &__header--mobile {
      display: none;
    }
    &__block {
      max-width: 480px;
      margin-bottom: 104px;
      p:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}

@keyframes marquee {
  0% {
      transform: translate3d(0%, 0, 0)
  }

  100% {
      transform: translate3d(-100%, 0, 0)
  }
}

@media screen and (max-width: 850px) {
 .story {
   .container {
     justify-content: center;
   }
   &__text {
     width: 100%;
   }
   &__block {
     width: 100%;
     max-width: 100% !important;
   }
   &__header--computer {
    display: none;
   }
   &__header--mobile {
    display: block !important;
    margin-bottom: 16px;
   }
 }
}