$dark: #0F1116;
$lighter-dark: rgba(15, 17, 22, 0.96);
$light-dark: rgba(15, 17, 22, 0.8);
$light: #FEFEFE;
$darker-light: #9A9A9A;
$theme-color: #F1067D;
$navbar-bg-color: #111111;
$footer-bg-color: #111111;
$faceless-red: #FF0028;
$faceless-purple: #5D00FF;
$faceless-lblue: #0DF5F7;
$faceless-yellow: #FED700;
$faceless-green: #00F081;
$faceless-blue: #0700FE;
