.btn-dark {
    border: 3px solid $dark;
    background-color: transparent;
    color: $dark;
    font-weight: 900;
    padding: 10px 80px;
    &:hover, &:focus {
        color: $light;
        background-color: $dark;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
}

.btn-light {
    border: 3px solid $light;
    box-sizing: border-box;
    background-color: transparent;
    color: $light;
    font-weight: 900;
    padding: 10px 80px;
    &:hover, &:focus {
        color: $dark;
        background-color: $light;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
}