/* --- Tour Header ---*/
.intro {
    height: 50vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url();
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    color: $light;
    h1 {
        font-weight: 900;
        font-size: 30px;
        text-align: center;
    }
}

/*--- SongKick ---*/
.tour-info {
    min-height: 100vh;
    background-color: $light;
}

.songkick {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    min-height: 50vh;
    color: $dark;
}

.songkick > * {
    min-width: 100%;
}

/*--- Title text ---*/
/*.left-text {
    position: relative;
}

.left-text p {
    position: absolute;
}

.left-text p::before {
    content: "";
    border-bottom: 500px solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}*/

@media all and (max-width: 800px) {
    .songkick div {
        width: 92vw;
        max-width: 92vw;
    }
}